@media (min-width: 576px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }
}
@media (min-width: 768px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }
}
@media (min-width: 992px) {
  * {
    margin: 0;
    box-sizing: border-box;
  }
}

body {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
  line-height: 1.5;
}
@media (min-width: 576px) {
  body {
    font-size: calc(1.0416666667vw + 10px);
  }
}
@media (min-width: 768px) {
  body {
    font-size: calc(4.4642857143vw - 16.2857142857px);
  }
}
@media (min-width: 992px) {
  body {
    font-size: 34px;
  }
}

a {
  text-decoration: none;
  color: #ad030b;
}

a:hover {
  text-decoration: underline;
}

p {
  margin: 0 0 1rem;
}

h1 {
  margin: 0 0 1rem;
  font-size: 22px;
  margin-bottom: 0.5rem;
}
@media (min-width: 576px) {
  h1 {
    font-size: calc(1.0416666667vw + 16px);
  }
}
@media (min-width: 768px) {
  h1 {
    font-size: calc(4.4642857143vw - 10.2857142857px);
  }
}
@media (min-width: 992px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  margin: 0 0 1rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 20px;
}
@media (min-width: 576px) {
  h2 {
    font-size: calc(1.0416666667vw + 14px);
  }
}
@media (min-width: 768px) {
  h2 {
    font-size: calc(4.4642857143vw - 12.2857142857px);
  }
}
@media (min-width: 992px) {
  h2 {
    font-size: 32px;
  }
}

.text-blue {
  color: #ad030b;
}

.text-darkblue {
  color: #e16f74;
}

.text-uppercase {
  text-transform: uppercase;
}

.icon {
  margin-right: 0.5rem;
}

.cv-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "left-column right-column right-column";
  width: 1200px;
  margin: 100px auto;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1215686275), 0 1px 2px rgba(0, 0, 0, 0.2392156863);
}
@media (min-width: 400px) {
  .cv-container {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .cv-container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .cv-container {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .cv-container {
    width: 90%;
  }
}

.section {
  margin-bottom: 1.5rem;
}

/* LEFT COLUMN */
.left-column {
  grid-area: left-column;
  padding: 50px;
  background-color: #525252;
  color: #ffffff;
}
@media (min-width: 400px) {
  .left-column {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .left-column {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .left-column {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .left-column {
    width: 90%;
  }
}

.profil {
  font-family: Roboto;
  font-weight: 900;
  font-size: 1.4rem;
  text-align: left;
  line-height: 1.5;
  margin: 16px;
  color: #dbd8d8;
}

.langue {
  font-family: Roboto;
  font-weight: 350;
  font-size: 1.1rem;
  text-align: left;
  line-height: 1.5;
  margin: 16px;
  color: #ffffff;
}

.portait {
  border-radius: 50%;
  max-width: 150px;
  margin: auto;
  display: block;
  margin-bottom: 50px;
  font-style: italic;
}

.skills {
  list-style-type: none;
  padding: 0;
  font-size: 1.1rem;
  letter-spacing: 1px;
  margin: 0 0 1rem;
}

/* RIGHT COLUMN */
.right-column {
  grid-area: right-column;
  display: grid;
  grid-template-rows: 250px 1fr;
  grid-template-areas: "header" "content";
}
@media (min-width: 400px) {
  .right-column {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .right-column {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .right-column {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .right-column {
    width: 90%;
  }
}

/* HEADER */
.header {
  grid-area: header;
  padding: 50px;
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.infos {
  -moz-columns: 2;
       columns: 2;
  list-style-type: none;
  padding: 0;
}
@media (min-width: 400px) {
  .infos {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .infos {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .infos {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .infos {
    width: 90%;
  }
}

/* CONTENT */
.content {
  grid-area: content;
  padding: 50px;
}
@media (min-width: 400px) {
  .content {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .content {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .content {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .content {
    width: 90%;
  }
}

.experience-list {
  list-style-type: circle;
}
@media (min-width: 400px) {
  .experience-list {
    width: 90%;
  }
}
@media (min-width: 576px) {
  .experience-list {
    width: 90%;
  }
}
@media (min-width: 768px) {
  .experience-list {
    width: 90%;
  }
}
@media (min-width: 992px) {
  .experience-list {
    width: 90%;
  }
}/*# sourceMappingURL=style.css.map */